:root {
    --body-bg-color: #E9DFFF;
    --body-text-color: #2c2c2c;
    --heading-color: #53319c;
    --nav-text: #BEA7FA;
    --nav-menu-disabled: #e7e7e7;
}

body {
    background-color: var(--body-bg-color);
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    color: var(--body-text-color);
}

h1 {
    color: var(--heading-color); 
    text-transform: capitalize;
}

.container {
    background-color: white;
    max-width: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 0 64px 64px 64px;
    position: relative;
}

.tabs {
    display: flex;
    width: 100%;
    justify-content: space-around;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--nav-text);
    margin: 0 0 32px 0;
    padding: 16px;
}

.tabs p {
    padding: 8px;
}

.tabs p:hover {
    color: var(--heading-color);
    cursor: pointer;
}

.tabs p.active {
    color: var(--heading-color);
}

.line {
    height: 3px;
    width: 100%;
    background-color: var(--nav-menu-disabled);
    position: absolute;
    top: 98px
}